$color-dorado:#dc9e40;
$color-sec-gris: #373737;
$color-sec-bordo:#442211;
$color-sec-marron:#5f4621;

$fte-sec: 'Poppins', sans-serif;
$fte-ppal:'Roboto', sans-serif;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}