
@import "_partials/variables";
@import "_partials/header";
@import "_partials/section1";
@import "_partials/tecnologias";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
}
.sec-contacto-ubic{
    padding-top: 50px;
    background: rgb(103,102,99);
    background: linear-gradient(180deg, rgba(103,102,99,1) 0%, rgba(163,163,163,1) 18%);

    .parallax{
    background-image:url('../img/industria.jpg');
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    .info-parallax{
        background-color: rgba(0, 0, 0, 0.829);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45vw;
        min-width: 290px;
        height: 60%;
        margin-left: 70px;
        .texto-visitanos{
            margin-left: 25px;
            display: flex;
            flex-direction: column;
            h3{
                color: white;
                font-family: $fte-sec;
                text-transform: uppercase;
                font-size: 18px;
                span{
                    color: $color-dorado;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
            }
            p{
                color: rgba(255, 255, 255, 0.836);
                width: 70%;
                font-family: $fte-ppal;
                font-size: 13px;
            }

        }
       
    }
    }
    .sec-contacto{
        width: 100%;
        height:50vh ;
        background-color:rgba(163,163,163,1) ;
        .row{
            .contacto-izq{
                 min-height: 50vh;
                background-color: $color-dorado;
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-bottom: 20px;
                .cont-naranja{
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    min-width: 260px;
                    h3{
                        font-size: $fte-sec;
                        text-transform: uppercase;
                        color: black;
                        letter-spacing: 2px;
                    }
                    span{
                        display: block;
                        height: 7px;
                        width: 60px;
                        background-color: $color-sec-bordo;
                        margin-left: 0px;
                        margin-top: -5px ;
                        margin-bottom: 22px      
                        
                    };
                    .contacto-items{
                        color: black;
                        .item{
                            display: flex;
                            align-items: baseline;
                            width: 70%;
                            .fas{
                                margin-right: 10px;
                            }
                            p{
                                font-family: $fte-sec;
                            }
                            &:hover{
                                cursor: default;
                            }
                        }
                    }
                    .nav-redes{
                        width: 100px;
                        margin-top: 0px;
                        margin-right: -2px;
                        .icons{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .fab, .fas{
                                color: black;
                                font-size: 1.1em;
                                &:hover{
                                    cursor: [pointer];
                                    color: $color-sec-gris;
                                    opacity: 0.9;
                                }
                            }
                        }
                    }
                    .cont-img-text{
                        align-items: center;
                        img{
                            width: 150px;
                            height: 75px;
                        }
                        p{
                            margin-left: 15px;
                            line-height: 18px;
                            font-family: $fte-ppal;
                            font-size: 13px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            margin-top: 26px;
                            width: 200px;
                        }
                    }
                }
               
                
            }
        }
       
    }
}


.tienda-flot{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color:rgba(0, 0, 0, 0.76);
    display: flex;
    border: 1px solid $color-sec-gris;
    justify-content: center;
    align-items: center;
    position:fixed;
    right: 38px;
    bottom: 20px;
        .fas{
            font-size: 1.7em;
            margin-left: -5px;
            color: $color-dorado;
        }
}

@media only screen and (max-width: 767px){
    .tienda-flot{
        width: 62px;
        height: 62px;
        right: 25px;
        bottom: 15px;
            .fas{
                font-size: 1.6em;
                margin-left: -4px;
            }
    }
}