
@import "_partials/variables";
@import "_partials/header";
@import "_partials/section1";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
}

.tienda-flot{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color:rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    right: 38px;
    bottom: 20px;
        .fas{
            font-size: 1.7em;
            margin-left: -5px;
            color: $color-dorado;
        }
}
