* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #404142;
  height: 90px;
  width: 100%;
  padding: 15px 50px 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .cont-img-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .cont-img-menu .logo img {
  margin-top: -40px;
  width: 250px;
  height: 70px;
}

header .cont-img-menu .cont-icon-menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
}

header .cont-img-menu .cont-icon-menu .fas {
  color: #dc9e40;
}

header .cont-img-menu .cont-icon-menu .fa-times {
  display: none;
}

header .nav-options {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .nav-options .nav-redes {
  width: 80px;
  margin-top: -10px;
  margin-right: -4px;
}

header .nav-options .nav-redes .icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-options .nav-redes .icons .fab, header .nav-options .nav-redes .icons .fas {
  color: #dc9e40;
  font-size: 1.1em;
}

header .nav-options .nav-redes .icons .fab:hover, header .nav-options .nav-redes .icons .fas:hover {
  cursor: [pointer];
  color: #fff;
  opacity: 0.9;
}

header .nav-options .nav-cont {
  margin-bottom: -16px;
  margin-right: 12px;
}

header .nav-options .nav-cont .menu {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30vw;
}

header .nav-options .nav-cont .menu li {
  list-style: none;
  color: #dc9e40;
}

header .nav-options .nav-cont .menu li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

header .nav-options .nav-cont .menu li a:visited {
  text-decoration: none;
}

header .nav-options .nav-cont .menu li a:link {
  text-decoration: none;
}

header .nav-options .nav-cont .menu li .underline {
  height: 4px;
  background-color: #dc9e40;
  display: block;
  visibility: hidden;
}

@-webkit-keyframes underline {
  0% {
    width: 5%;
  }
  10% {
    width: 10%;
  }
  15% {
    width: 15%;
  }
  20% {
    width: 20%;
  }
  25% {
    width: 25%;
  }
  30% {
    idth: 30%;
  }
  35% {
    width: 35%;
  }
  40% {
    width: 40%;
  }
  45% {
    width: 45%;
  }
  50% {
    width: 50%;
  }
  55% {
    width: 55%;
  }
  60% {
    width: 60%;
  }
  65% {
    width: 65%;
  }
  70% {
    width: 70%;
  }
  75% {
    width: 75%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 85%;
  }
  90% {
    width: 90%;
  }
  94% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    width: 5%;
  }
  10% {
    width: 10%;
  }
  15% {
    width: 15%;
  }
  20% {
    width: 20%;
  }
  25% {
    width: 25%;
  }
  30% {
    idth: 30%;
  }
  35% {
    width: 35%;
  }
  40% {
    width: 40%;
  }
  45% {
    width: 45%;
  }
  50% {
    width: 50%;
  }
  55% {
    width: 55%;
  }
  60% {
    width: 60%;
  }
  65% {
    width: 65%;
  }
  70% {
    width: 70%;
  }
  75% {
    width: 75%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 85%;
  }
  90% {
    width: 90%;
  }
  94% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  header {
    height: 75px;
    padding: 0;
    padding-right: 20px;
  }
  header .cont-img-menu {
    width: 100%;
  }
  header .cont-img-menu .logo img {
    margin-top: -55px;
    margin-left: -26px;
    width: 150px;
    height: 50px;
  }
  header .nav-options .nav-cont {
    margin-bottom: -16px;
    margin-right: 12px;
    display: none;
  }
  header .nav-options .nav-cont .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #373737f8;
    position: absolute;
    top: 75px;
    left: 0px;
    padding: 25px 0 35px 0;
    z-index: 10;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec-productos {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.sec-productos .contenedor {
  background-color: #000;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.sec-productos .contenedor .renglon {
  height: 50%;
}

.sec-productos .contenedor .renglon .tarjeta {
  height: 100%;
  padding: 20px;
}

.sec-productos .contenedor .renglon .tarjeta .img {
  height: 100%;
  width: 100%;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-productos .contenedor .renglon .tarjeta .img .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
}

.sec-productos .contenedor .renglon .tarjeta .img .bg h3 {
  letter-spacing: 2px;
  text-align: center;
}

.sec-productos .contenedor .renglon .tarjeta .img .bg h3:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sec-productos .contenedor .renglon .tarjeta .img .bg p:hover {
  cursor: pointer;
}

.sec-productos .contenedor .renglon .tarjeta #img1 {
  background-image: url(../img/carteleria/IMG-20210114-WA0012.jpg);
  background-position: center center;
  -webkit-animation-name: imgEntrada;
          animation-name: imgEntrada;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

.sec-productos .contenedor .renglon .tarjeta #img2 {
  background-image: url(../img/chapa-gruesa/chapa.jpg);
  background-position: center center;
  -webkit-animation-name: imgEntrada;
          animation-name: imgEntrada;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

.sec-productos .contenedor .renglon .tarjeta #img3 {
  background-image: url(../img/cerramientos-aberturas/aberturas3.jpg);
  background-position: 50% 25%;
  -webkit-animation-name: imgEntrada;
          animation-name: imgEntrada;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.sec-productos .contenedor .renglon .tarjeta #img4 {
  background-image: url(../img/barandas/baranda1.jpg);
  background-position: 25% 58%;
  -webkit-animation-name: imgEntrada;
          animation-name: imgEntrada;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.sec-productos .bg-galeria {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.sec-productos .bg-galeria .container1 .encabezado-galeria {
  margin-top: 30px;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #373737;
}

.sec-productos .bg-galeria .container1 .encabezado-galeria .fa-times {
  color: #fff;
  font-size: 1.3em;
}

.sec-productos .bg-galeria .container1 .encabezado-galeria .fa-times:hover {
  color: #dc9e40;
}

.sec-productos .bg-galeria .container1 .encabezado-galeria h2 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.sec-productos .bg-galeria .container1 .encabezado-galeria h2 .fas {
  margin-right: 6px;
  font-size: 0.7em;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.sec-productos .bg-galeria .container1 .cont-galeria {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.sec-productos .bg-galeria .container1 .cont-galeria .col {
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sec-productos .bg-galeria .container1 .cont-galeria .col .cont-img {
  border: 1px solid grey;
  width: 80%;
  height: 75vh;
}

.sec-productos .bg-galeria .container1 .cont-galeria .col .row {
  height: 38vh;
}

.sec-productos .bg-galeria .container1 .cont-galeria .col .top .cont-texto {
  border: 1px solid #5f4621;
  border-radius: 8px;
  padding: 35px 25px 30px 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sec-productos .bg-galeria .container1 .cont-galeria .col .top .cont-texto p {
  color: rgba(255, 255, 255, 0.76);
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.sec-productos .bg-galeria .container1 .cont-galeria .col .bottom .cont-fotos .img-sec {
  height: 120px;
  padding: 10px;
}

.sec-productos .bg-galeria .container1 .cont-galeria .col .bottom .cont-fotos .img-sec .img {
  width: 100%;
  height: 100px;
  background-color: grey;
}

@-webkit-keyframes imgEntrada {
  0% {
    -webkit-transform: translateX(-1700px);
            transform: translateX(-1700px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes imgEntrada {
  0% {
    -webkit-transform: translateX(-1700px);
            transform: translateX(-1700px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes imgTarjeta {
  0% {
    background-position: 5% 58%;
  }
  100% {
    background-position: 45% 58%;
  }
}

@keyframes imgTarjeta {
  0% {
    background-position: 5% 58%;
  }
  100% {
    background-position: 45% 58%;
  }
}

@media only screen and (max-width: 767px) {
  .sec-productos .contenedor {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 3px;
    padding-right: 3px;
  }
  .sec-productos .contenedor .renglon {
    height: 25vh;
  }
  .sec-productos .contenedor .renglon .tarjeta {
    height: 100%;
    min-height: 110px;
    padding: 5px;
  }
  .sec-productos .contenedor .renglon .tarjeta .img {
    height: 100%;
    min-height: 110px;
    width: 100%;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sec-productos .contenedor .renglon .tarjeta .img .bg {
    width: 100%;
    height: 100%;
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Poppins", sans-serif;
  }
  .sec-productos .contenedor .renglon .tarjeta .img .bg h3 {
    letter-spacing: 2px;
    text-align: center;
  }
  .sec-productos .contenedor .renglon .tarjeta .img .bg h3:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .sec-productos .contenedor .renglon .tarjeta .img .bg p:hover {
    cursor: pointer;
  }
  .sec-productos .contenedor .renglon .tarjeta #img1 {
    background-image: url(../img/carteleria/IMG-20210114-WA0012.jpg);
    background-position: center center;
    -webkit-animation-name: imgEntrada;
            animation-name: imgEntrada;
    -webkit-animation-duration: 2.3s;
            animation-duration: 2.3s;
  }
  .sec-productos .contenedor .renglon .tarjeta #img2 {
    background-image: url(../img/chapa-gruesa/chapa.jpg);
    background-position: center center;
    -webkit-animation-name: imgEntrada;
            animation-name: imgEntrada;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
  }
  .sec-productos .contenedor .renglon .tarjeta #img3 {
    background-image: url(../img/cerramientos-aberturas/aberturas3.jpg);
    background-position: 50% 25%;
    -webkit-animation-name: imgEntrada;
            animation-name: imgEntrada;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .sec-productos .contenedor .renglon .tarjeta #img4 {
    background-image: url(../img/barandas/baranda1.jpg);
    background-position: 25% 58%;
    -webkit-animation-name: imgEntrada;
            animation-name: imgEntrada;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .sec-productos .contenedor .renglon2 {
    margin-top: 25vh;
  }
  .sec-productos .bg-galeria {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.87);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  .sec-productos .bg-galeria .container1 .encabezado-galeria {
    margin-top: 30px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #373737;
  }
  .sec-productos .bg-galeria .container1 .encabezado-galeria .fa-times {
    color: #fff;
    font-size: 1.3em;
  }
  .sec-productos .bg-galeria .container1 .encabezado-galeria .fa-times:hover {
    color: #dc9e40;
  }
  .sec-productos .bg-galeria .container1 .encabezado-galeria h2 {
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  .sec-productos .bg-galeria .container1 .encabezado-galeria h2 .fas {
    margin-right: 6px;
    font-size: 0.7em;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .sec-productos .bg-galeria .container1 .cont-galeria {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }
  .sec-productos .bg-galeria .container1 .cont-galeria .col {
    padding: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .sec-productos .bg-galeria .container1 .cont-galeria .col .cont-img {
    border: 1px solid grey;
    width: 80%;
    height: 75vh;
  }
  .sec-productos .bg-galeria .container1 .cont-galeria .col .row {
    height: 38vh;
  }
  .sec-productos .bg-galeria .container1 .cont-galeria .col .top .cont-texto {
    border: 1px solid #5f4621;
    border-radius: 8px;
    padding: 35px 25px 30px 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .sec-productos .bg-galeria .container1 .cont-galeria .col .top .cont-texto p {
    color: rgba(255, 255, 255, 0.76);
    font-family: "Poppins", sans-serif;
    text-align: justify;
  }
  .sec-productos .bg-galeria .container1 .cont-galeria .col .bottom .cont-fotos .img-sec {
    height: 120px;
    padding: 10px;
  }
  .sec-productos .bg-galeria .container1 .cont-galeria .col .bottom .cont-fotos .img-sec .img {
    width: 100%;
    height: 100px;
    background-color: grey;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.tienda-flot {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.76);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 38px;
  bottom: 20px;
}

.tienda-flot .fas {
  font-size: 1.7em;
  margin-left: -5px;
  color: #dc9e40;
}
/*# sourceMappingURL=styles.css.map */